

.card-background-page{

    ion-card{
        position:relative;
        text-align: left;
    }

    .card-title{
        font-size: 2.0em;
        width:100%;
        font-weight:bold;
        color:black;
    }
}

.newsHed{
    margin-top: 5rem;
}