
<ion-header class="newsHed">
    
    <ion-toolbar color="light">
        <ion-title>Friends</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

   <ion-row *ngFor="let item of friendRequest;let i = index">

        <ion-card color="light" style="margin-bottom: -5%;">
            <ion-card-header>
                <ion-row>
                    <ion-col text-center size="3">
                        <ion-img src="../../assets/img/logo2.png"></ion-img>
                    </ion-col>
                    <ion-col text-left size="9">

                        <ion-card-title>{{item.atid}}</ion-card-title>
                        
                        <ion-card-subtitle>
                            <ion-row text-center>
                                <ion-col style="background-color: greenyellow;" size="6" (click)="acceptFriendRequest(item.atid)">
                                    Accept
                                  </ion-col>
                                  <ion-col style="background-color: red;" size="6" (click)="declineFriendRequest(item.atid,i)">
                                    Decline
                                    </ion-col>
                             </ion-row>
                        </ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-card-header>


        </ion-card>

    </ion-row> 


    <ion-row *ngFor="let item of friends;let i = index">

            <ion-card color="light" style="margin-bottom: -5%;">
                <ion-card-header>
                    <ion-row>
                        <ion-col text-center size="3">
                            <ion-img src="../../assets/img/logo2.png"></ion-img>
                        </ion-col>
                        <ion-col text-left size="9">
    
                            <ion-card-title>{{item.atid}}</ion-card-title>
                            
                            <ion-card-subtitle>
                                <ion-row text-center>
                                    <ion-col style="background-color: rgb(215, 233, 59);" size="8" (click)="acceptFriendRequest(item.atid)">
                                        Mesage
                                      </ion-col>
                                      <ion-col style="background-color: black;color:white;" size="4" (click)="deleteFriend(item.atid,i)">
                                        Delete
                                        </ion-col>
                                 </ion-row>
                            </ion-card-subtitle>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
    
    
            </ion-card>
    
        </ion-row> 

</ion-content>