.loginRow{
    margin-top:5.6rem;
}

.loginImg{
    width:45%;
    margin: auto;
    background-attachment: fixed;
}

.loginButtons1{
    letter-spacing: 0.4px;
    border-radius: 20px;
    border:none;
}

.title{
    font-weight:bold;
    letter-spacing: 0.6px;
    text-align: center;
}

.forgotpass{
    font-size: 15px;
    font-weight: bold;
}

.Signup{
    font-size: 15px;
    color: red;
    border:none;
    background-color:white;
    font-weight: bold;
    letter-spacing: 0.2px;
}