<ion-title>Login</ion-title>
<ion-content class="no-scroll">
  <ion-grid >
    <ion-row class="loginRow">

      <ion-col size="12" class="loginCol">
        <ion-img  class="loginImg" src="../../assets/img/logo2.png"></ion-img>
      <h2 class="title">Welcome!<br>Discover something new in our application</h2>
      <ion-item-sliding text-center style="color:red;">{{status}}</ion-item-sliding>
      </ion-col>

    </ion-row>
  
    <form [formGroup]="loginForm"  (ngSubmit)="logIn()" margin>
    
    <ion-row text-center>
      <ion-col>
        <ion-item text-center>
          <ion-input formControlName="username" type="text" placeholder="User Name or Email"></ion-input>
        </ion-item>
     </ion-col>
    </ion-row>
    
    <ion-row text-center>
      <ion-col>
          <ion-item text-center>
              <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
           </ion-item>
      </ion-col>
    </ion-row>

    <ion-row margin>

      <ion-col text-right>
          <ion-button  type="submit"  class="loginButtons" color="success" expand="block" class="loginButtons1">
               Sign In 
          </ion-button>
      </ion-col>
  </ion-row>

    <ion-row>  
      <ion-col text-left>
          <ion-button (click)="redirectTo('forgotpassword')" fill="clear" class="forgotpass">
              Forgot Password
            </ion-button>
      </ion-col>

      <ion-col text-right>
        <ion-button  (click)="redirectTo('register')" fill="clear" class="Signup">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row >
    </form>
  </ion-grid>

</ion-content>