<ion-content>
    <ion-grid no-padding>
      <ion-row>
  
        <ion-col size="12"  class="loginCol" >
          <ion-img class="loginImg"  src="../../assets/img/logo2.png" ></ion-img>
          <div text-center>{{error}}</div>
        </ion-col>
  
      </ion-row>
      <ion-row text-center>
  
        <ion-col class="loginCol">
          <ion-input class="loginInutL"  [(ngModel)]="userEmail"  type="text" placeholder="Email" required></ion-input>
          
        </ion-col>
  
      </ion-row>

      <ion-row text-center>
  
          <ion-col text-right class="loginCol">
            <ion-button (click)="forgot()" fill="clear"  class="loginButtons">
              Forgot
            </ion-button>
          </ion-col>
          <ion-col text-left class="loginCol">
              <ion-button (click)="redirectTo('login')" fill="clear"  class="loginButtons">
                Login
              </ion-button>
            </ion-col>
    
        </ion-row>
     

    </ion-grid>
  
  </ion-content>
  