<ion-header class="newsHed">
    <ion-toolbar color="light">
        <ion-title>News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-row *ngFor="let item of posts;let i = index">

        <ion-card color="light" style="margin-bottom: -5%;">
            <ion-card-header>
                <ion-row>
                    <ion-col text-center size="3">
                        <ion-img src="../../assets/img/logo2.png"></ion-img>
                    </ion-col>
                    <ion-col text-left size="9">

                        <ion-card-title>{{item.authore}}</ion-card-title>
                        <ion-card-subtitle>{{item.createdAt}}</ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
                {{item.text}}

            </ion-card-content>

            <ion-col text-right>
                <ion-row>
                    <ion-col size="2" offset="6">
                        <ion-icon (click)="likePost(item.postid,user.userid)" name="heart" style="zoom:2.0;"></ion-icon>
                        <span>{{item.likes}}</span>
                    </ion-col>
                    <ion-col size="2">
                        <ion-icon name="undo" style="zoom:2.0;"></ion-icon>
                    </ion-col>

                </ion-row>

                <ion-row text-center>
                    <ion-col size="10" offset="1">
                        <ion-textarea style="border:1px solid black;" id='comment{{item.postid}}'
                            placeholder="Type new comment for this post"></ion-textarea>
                    </ion-col>
                    <ion-col text-left size="6">
                        <ion-button (click)="getPostComments(item.postid,i)">
                            Comments
                        </ion-button>
                    </ion-col>
                    <ion-col text-right size="6">
                        <ion-button (click)="addPostComments(item.postid,user.userid,user.nickname,i)">
                            Comment
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row text-center style="margin-bottom: 5%;">
                    <ion-card *ngFor="let comment of item.comments;let c = index" color="dark" style="margin-bottom: -5%;">


                        <ion-card-header>

                            <ion-row>
                                <ion-col text-center size="2">
                                    <ion-img src="../../assets/img/logo2.png"></ion-img>
                                </ion-col>
                                <ion-col text-left size="10">
                                    <ion-card-title start>{{comment.authore}}</ion-card-title>
                                    <ion-card-subtitle end>{{comment.createdAt}}</ion-card-subtitle>
                                </ion-col>
                            </ion-row>
                        </ion-card-header>

                        <ion-card-content>
                            {{comment.comment}}
                        </ion-card-content>

                        <ion-row text-right>

                            <ion-col size="2" offset="7">
                                    <ion-icon (click)="deleteComent(comment.commentid,item.postid,user.userid,i,c)" name="trash" style="zoom:2.0;"></ion-icon>
                            </ion-col>
                            <ion-col size="2" >
                                    <ion-icon  name="bug" style="zoom:2.0;"></ion-icon>
                            </ion-col>
                        </ion-row>

                    </ion-card>
                </ion-row>

            </ion-col>

        </ion-card>

    </ion-row>

</ion-content>