<ion-content>

    <!-- <ion-grid no-padding>
        <ion-row  text-center>
             <ion-col class="homeFirstRow">
                 <ion-img class="profilePhoto" src="../../assets/img/logo.png"></ion-img>
             </ion-col> 
        </ion-row>
    </ion-grid> -->
   
    <ion-grid>
        <ion-row>
            <ion-col class="profilephotocol" text-center size="12" color="dark">
                  <ion-img class="profilePhoto" src="../../assets/img/logo.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top:-13%;">
            <ion-col text-center><h5><i><u> THEnoi </u></i></h5></ion-col>
        </ion-row>
        <ion-row text-center>
            <ion-col >
                <ion-textarea rows="5" class="profileTextarea"color="dark" placeholder="What you can to say today.."></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row text-right>
            <ion-col >
                <ion-button fill="outline" color="dark" class="profilebtnpost">
                    Post  <ion-icon class="ion-align-self-center" name="cloud-done" color="dark"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>