.profilephotocol
{
    margin-top:18%;
    height:200px !important;
}

.profileTextarea
{
    background-color:whitesmoke;
    color:black;
    border:1px solid black;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    border-bottom-left-radius: 4%;
}
.profilebtnpost
{
    height:30px;
}
.gridclass
{
    margin-top:18%;
}
