<ion-content>
  <ion-grid no-padding>
    <ion-row>

      <ion-col size="12" class="loginCol">
        <ion-img class="loginImg" src="../../assets/img/logo2.png"></ion-img>
      </ion-col>

    </ion-row>
        <form [formGroup]="registerForm" (ngSubmit)="regIn()">
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="reglogin" type="text" placeholder="Login" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="regpas" type="password" placeholder="Password" required>
        </ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="regpasg" type="password" placeholder="Password Again" required>
        </ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="regemail" type="email" placeholder="Email" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="regphone" type="tel" placeholder="Phone" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="reggender" type="text" placeholder="Male" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="regbirthdata" type="date" placeholder="Birthdate" required>
        </ion-input>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col text-right class="loginCol " color="light">
        <ion-button type="submit" fill="clear" class="loginButtons">
          Register
        </ion-button>
      </ion-col>
      <ion-col text-left class="loginCols ">
        <ion-button (click)="redirectTo('login')" fill="clear" class="loginButtons">
          Back
        </ion-button>
      </ion-col>

    </ion-row>

  </form>
  </ion-grid>

</ion-content>