<ion-title>Register</ion-title>
<ion-content>
  <ion-grid no-padding>
    <ion-row>

      <ion-col size="12" class="loginCol">
        <ion-img class="loginImg" src="../../assets/img/logo2.png"></ion-img>
        <ion-item-sliding text-center style="color: red;">{{status}}</ion-item-sliding>
      </ion-col>

    </ion-row>
        <form [formGroup]="registerForm" ngNativeValidate  (ngSubmit)="registerUser()">
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="username" type="text" placeholder="User Name" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

        <ion-col class="loginCol">
          <ion-input formControlName="nickname" type="text" placeholder="NickName" required minlength='3'></ion-input>
  
        </ion-col>
  
      </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="password" type="password" placeholder="Password" required minlength='9'>
        </ion-input>

      </ion-col>
 </ion-row>

    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="password2" type="password" placeholder="Password Again" required minlength='9'>
        </ion-input>

      </ion-col>
 </ion-row>

    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="email" type="email" placeholder="Email" required></ion-input>

      </ion-col>
  </ion-row>


    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="phone" type="number" placeholder="Phone" required minlength='5'></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="gender" type="text" placeholder="Male" required></ion-input>

      </ion-col>

    </ion-row>
    <ion-row text-center>

      <ion-col class="loginCol">
        <ion-input formControlName="birthdate" type="date" placeholder="Birthdate" min="1910-01-01" max="2015-12-31" required>
        </ion-input>

      </ion-col>
   </ion-row>

   <ion-row margin>
      <ion-col>
        <ion-button type="submit"  color="primary" expand="block" class="back">
           Register
        </ion-button>
      </ion-col>
 
      <ion-col>
        <ion-button (click)="redirectTo('login')" color="danger" expand="block" class="back">
           Back
        </ion-button>
      </ion-col>
  </ion-row>

  </form>
  </ion-grid>

</ion-content>